@import "../../../assets/styles/mixin";
.educations {
  @include table;
  @include add-btn;


  form{
    font-size: 14px;
    letter-spacing: .8px;

    input, textarea::placeholder{
      font-size: 14px;
      letter-spacing: .8px;
    }

    .upload-image label{
      cursor: pointer;
      background-color: #fff;
      transition: .2s ease-in-out;

      &:hover{
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}