<div class="about">
    <app-badge icon="fa-solid fa-address-card" label="About"></app-badge>
    <div class="title my-3">
        <h2 class="fw-bold">Front-end Developer</h2>
    </div>
    <div class="subtitle d-flex align-items-center gap-2 my-3">
        <div class="headline">
            <h3 class="fw-bold">Hello, I'm</h3>
        </div>
        <div class="headline words">
            <h3 class="fw-bold">Ramazan İsmayılov</h3>
            <!-- <h3>Front-end Developer</h3> -->
        </div>
    </div>
    <div class="description">
        <p>I am a dedicated developer with expertise in both front-end and back-end development. Throughout my career, I
            have successfully contributed to a variety of projects, consistently delivering high-quality results. I
            thrive in collaborative environments, having worked with diverse teams on several impactful initiatives. My
            approach to every task is marked by responsibility and commitment, as I continuously seek to enhance my
            skills and keep abreast of emerging technologies. I am passionate about crafting seamless user experiences
            and developing efficient back-end solutions that meet client needs.</p>
    </div>
</div>